
body {
	font-family: 'Karla', Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
}

h1 {
	font-family: 'IBM Plex Serif', Times, serif;
	font-size: 24px;
	text-align: center;
	position: relative;
	top: 15px;
}

.no_a_title {
    color: rgb(24, 122, 101);
}

img {
    width: 100%;
    max-width: 600px;
    height: auto;
}
a {
	color: rgb(24, 122, 101);
}

p {
	line-height: 16px;
}

.container {
	background-color: black;
	color: white;
	width: 250px;
	height: auto;
	margin: auto;
	padding: 2px 5px 1px 10px;
}

.nav {
	font-size: 12px;
	font-family: monospace;
	color: black;
	text-align: center;
	margin: 10px;
}

.nav a {
	color: black;
}

.backbutton {
	text-align: left;
	font-size: 10px;
}

@media screen and (max-width: 768px) {
	.container {
		width: 60%;
		text-align: center;
	}
}